<article>
<div>
    <h1>Nome do livro</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum reiciendis suscipit, est deleniti consequatur distinctio deserunt doloribus rem expedita dolore laudantium rerum tempore, modi earum voluptatum vero aperiam debitis possimus.</p>
    <h3>Categoria</h3>
    <p>R$50,00</p>
    <p>Ver detalhes</p>
    <p>Editar</p>
    <p>Excluir</p>
</div>

<div>
    <h1>Nome do livro</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum reiciendis suscipit, est deleniti consequatur distinctio deserunt doloribus rem expedita dolore laudantium rerum tempore, modi earum voluptatum vero aperiam debitis possimus.</p>
    <h3>Categoria</h3>
    <p>R$50,00</p>
    <p>Ver detalhes</p>
    <p>Editar</p>
    <p>Excluir</p>
</div>

<div>
    <h1>Nome do livro</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum reiciendis suscipit, est deleniti consequatur distinctio deserunt doloribus rem expedita dolore laudantium rerum tempore, modi earum voluptatum vero aperiam debitis possimus.</p>
    <h3>Categoria</h3>
    <p>R$50,00</p>
    <p>Ver detalhes</p>
    <p>Editar</p>
    <p>Excluir</p>
</div>

<div>
    <h1>Nome do livro</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum reiciendis suscipit, est deleniti consequatur distinctio deserunt doloribus rem expedita dolore laudantium rerum tempore, modi earum voluptatum vero aperiam debitis possimus.</p>
    <h3>Categoria</h3>
    <p>R$50,00</p>
    <p>Ver detalhes</p>
    <p>Editar</p>
    <p>Excluir</p>
</div>

<div>
    <h1>Nome do livro</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum reiciendis suscipit, est deleniti consequatur distinctio deserunt doloribus rem expedita dolore laudantium rerum tempore, modi earum voluptatum vero aperiam debitis possimus.</p>
    <h3>Categoria</h3>
    <p>R$50,00</p>
    <p>Ver detalhes</p>
    <p>Editar</p>
    <p>Excluir</p>
</div>

<div>
    <h1>Nome do livro</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum reiciendis suscipit, est deleniti consequatur distinctio deserunt doloribus rem expedita dolore laudantium rerum tempore, modi earum voluptatum vero aperiam debitis possimus.</p>
    <h3>Categoria</h3>
    <p>R$50,00</p>
    <p>Ver detalhes</p>
    <p>Editar</p>
    <p>Excluir</p>
</div>
</article>